body {
background-color: #F7CAC9;
margin-top: 24px;
padding: 22px;
border-radius: 12px;
text-align: center;
}

#palavra {
font-size: 56px; /* maior */
font-weight: bold;
letter-spacing: 6px;
}

#box-teclado {
margin-top: 22px;
background-color: #F7CAC9;
padding: 18px;
border-radius: 12px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 12px;
}

button.tecla {
background-color: #cfa97e;
color: white;
font-size: 30px; /* maior */
padding: 16px;
border: none;
border-radius: 12px;
width: 74px; /* maior */
height: 74px;
transition: 0.12s;
cursor: pointer;
}

button.tecla:hover {
background-color: #b88a5b;
transform: scale(1.08);
}

button.tecla:disabled {
background-color: #d6c4aa;
color: white;
cursor: not-allowed;
}

#box-reiniciar {
text-align: center;
margin-top: 20px;
}

#btn_reiniciar {
background-color: #DC143C;
color: white;
padding: 16px 32px;
font-size: 26px; /* maior */
border: none;
border-radius: 12px;
cursor: pointer;
}

#btn_reiniciar:hover {
background-color: #b50f32;
}

#popup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.45);
display: flex;
justify-content: center;
align-items: center;
}

#popup-caixa {
background-color: #F7CAC9;
padding: 36px;
width: 92%;
max-width: 460px;
text-align: center;
border-radius: 16px;
}

#popup-msg {
font-size: 36px; /* maior */
margin-bottom: 22px;
}

#popup-btn {
background-color: #cfa97e;
color: white;
font-size: 26px;
padding: 14px 22px;
border: none;
border-radius: 12px;
cursor: pointer;
}

#popup-btn:hover {
background-color: #b88a5b;
}

@media (max-width: 600px) {
h1 { font-size: 56px; }
#palavra { font-size: 36px; }
button.tecla { width: 54px; height: 54px; font-size: 20px; }
}

#menu { z-index: 1000; position: relative; }
#jogo { z-index: 10; position: relative; }
#popup { z-index: 2000; }
.escondido { display: none !important; }


#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    animation: fadeIn 0.8s ease;
}

#menu h1 {
    font-size: 70px;
    margin-bottom: 40px;
    color: #ac2323;
}

#caixa-niveis {
    background: #ffffff;
    padding: 30px 45px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.18);

    display: flex;
    gap: 25px;

    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.btn-nivel {
    font-size: 32px;
    padding: 18px 35px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    background: #ffb7b7;
    color: black;

    transition: 0.25s;
}

/* Hover */
.btn-nivel:hover {
    background: #d46565;
    transform: scale(1.1);
}

.fade {
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

