body{
    background-color: lemonchiffon;
    background-image: url("back01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2100px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h1{
    color:rgb(11, 66, 197);
    text-align: center;
    font-size: 80px;
            
}

h2{
    text-align: center;
}

p{
    color: rgb(182, 15, 233);
    line-height: 1.5; /*espaçamento entre as linhas*/
}

#subtitulo{
    color: deeppink;
    font-size: 2rem;
}

.aviso{
    display: inline-block;
    color: red;
    padding: 8px;
    border: 2px solid;
    border-radius: 4px;
    text-align: center;
    
}

.lista1 {
    list-style-type: square; /* marcador quadrado */
}

.lista2 {
    list-style-type: upper-roman; /* algarismos romanos */
}

.lista3 {
    list-style-image: url("icone.png"); /* marcador com imagem */
}

