body{
    background-color: #e3bba9;
}
h1{
    text-align: center;
    color: #DC143C;
    font-size: 70px;
}
section{
    background-color: #f08b8b;
    width: 700px;
    height: 770px;
    padding: 40px;
    margin: auto;
    border-radius: 10px;
}
div#numero{
    background-color:#F7CAC9;
    text-align: center;
    border-radius: 10px;
    height: 250px;
    width: 690px;
    margin: auto;
}
div#resultado{
    background-color: #F7CAC9;
    text-align: center;
    border-radius: 10px;
    height: 390px;
    width: 690px;
    margin: auto;
}
div#status-bar{
    background-color: antiquewhite;
    text-align: right;
    border-radius: 10px;
    height: 50px;
    width: 650px;
    margin: auto;
}
p#status{
    padding-right: 20px;
    font-weight: bold;

}
p#txtRodape{
    text-align: center;
}
p#txtResultado{
    text-align: left;
    padding-left: 20px;
}